<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="page_block_html_topmenu_gethtml_before">
        <observer name="faonni_addtopmenulink_observer" instance="Faonni\AddTopMenuLink\Observer\TopmenuObserver"/>
    </event>
</config>